{% extends "layout.html" %}
{% block container %}

<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default p-4">
    <div class="flex items-center justify-between flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 pb-4">
        <div>
            <button id="dropdownDefaultButton2" data-dropdown-toggle="dropdown-2" class="inline-flex items-center justify-center text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-3 py-2 focus:outline-none" type="button">
                Acciones rápidas
                <svg class="w-4 h-4 ms-1.5 -me-0.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/></svg>
            </button>
        </div>
        <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/></svg>
            </div>
            <input type="text" id="input-group-1" class="block w-full max-w-96 ps-9 pe-3 py-2 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body" placeholder="Buscar alumno...">
        </div>
    </div>

    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="text-xs text-body uppercase bg-neutral-secondary-medium border-b border-t border-default-medium">
            <tr>
                <th scope="col" class="px-6 py-3 font-medium">Matrícula (ID)</th>
                <th scope="col" class="px-6 py-3 font-medium">Nombre Completo</th>
                <th scope="col" class="px-6 py-3 font-medium">Teléfono</th>
                <th scope="col" class="px-6 py-3 font-medium">Correo Electrónico</th>
                <th scope="col" class="px-6 py-3 font-medium">Fecha de Registro</th>
                <th scope="col" class="px-6 py-3 font-medium">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for alum in alumnos %}
            <tr class="bg-neutral-primary-soft border-b border-default hover:bg-neutral-secondary-medium">
                <td class="px-6 py-4 font-bold text-brand">
                    {{ alum.id }}
                </td>
                <th scope="row" class="flex items-center px-6 py-4 text-heading whitespace-nowrap">
                    <div class="w-10 h-10 rounded-full bg-brand-soft flex items-center justify-center text-brand font-bold">
                        {{ alum.nombre[0] }}
                    </div>
                    <div class="ps-3">
                        <div class="text-base font-semibold">{{ alum.nombre }} {{ alum.apellidos }}</div>
                    </div>  
                </th>
                <td class="px-6 py-4 font-medium text-body">
                    {{ alum.email }}
                </td>
                <td class="px-6 py-4 italic">
                    {{ alum.create_date.strftime('%d/%m/%Y') }}
                </td>
                <td class="px-6 py-4">
                    <div class="flex space-x-3">
                        <a href="modificar?id={{ alum.id }}" class="font-medium text-fg-brand hover:underline">Editar</a>
                        <a href="eliminar?id={{ alum.id }}" class="font-medium text-red-600 hover:underline">Borrar</a>
                        <a href="detalles?id={{ alum.id }}" class="font-medium text-red-600 hover:underline">Detalles</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}