{% extends "layout.html" %} 
{% block container %}
{% import "_macros.html" as macros %} 

<div class="max-w-md mx-auto mt-10">
    <h2 class="text-2xl font-bold mb-5 text-heading">Eliminar Maestro</h2>
    
    <form action="{{ url_for('maestros.eliminar_maestro') }}" method="POST" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <div class="relative z-0 w-full mb-5 group">
            {{ form.id(class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium focus:outline-none focus:border-brand peer", readonly=True) }}
            <label class="absolute text-sm text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10">Matrícula (no editable)</label>
        </div>

        <div class="relative z-0 w-full mb-5 group">
            {{ form.nombre(class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium focus:outline-none focus:border-brand peer", readonly=True) }}
            <label class="absolute text-sm text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10">Nombre</label>
        </div>

        <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 w-full mb-5 group">
                {{ form.apellidos(class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium focus:outline-none focus:border-brand peer", readonly=True) }}
                <label class="absolute text-sm text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10">Apellidos</label>
            </div>

            <div class="relative z-0 w-full mb-5 group">
                {{ form.especialidad(class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium focus:outline-none focus:border-brand peer", readonly=True) }}
                <label class="absolute text-sm text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10">
                    Especialidad
                </label>
            </div>
        </div>
        
        <div class="relative z-0 w-full mb-5 group">
            {{ form.email(class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium focus:outline-none focus:border-brand peer", readonly=True) }}
            <label class="absolute text-sm text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10">Email</label>
        </div>

        <button type="submit" class="text-white bg-brand hover:bg-brand-strong font-medium rounded-base text-sm px-4 py-2.5 w-full">
            Eliminar Profe
        </button>
        
        <div class="mt-4 text-center">
            <a href="{{ url_for('maestros.lista_maestros') }}" class="text-sm text-body hover:underline">Cancelar y regresar</a>
        </div>
    </form>
</div>
{% endblock %}